html,body{
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
}
*{
  margin: 0;
}
/****** header *******/
/* holds the header navigation */
header{
  position: sticky;
  top: 0px;
  z-index: 999;
}
#navigationHeader{
  height: 150px;
  background: #4390C8;
  display: flex;
  align-items: center;
  padding: 0px;
}

.nav-box{
  display: flex;
  padding: 0px 100px;

}
/* Defines Li  */
.navigationList{
  list-style-type: none;
  margin-right: 50px;
}

.navigationText{
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
}

.navigationText:hover::after{
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  left: 0px;
}


#navigationHeader > .nav-box > .navigationList > .active{
  font-weight: 700;
  position: relative;
}

#navigationHeader > .nav-box > .navigationList > .active:after{
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  left: 0px;
}


/****** main *******/
main{
  min-height: calc(100vh - 150px);
}
main .pageStructure{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}  
main .pageStructure h1{
  width: 100%;
  margin: 50px;
}

main .pageStructure{
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

main .container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

main .container .card{
  min-width: 100px;
  max-width: 400px;
  min-height: 300px;
  background: #4390C8;
  color: white;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
}
main .container .card h1{
  font-weight: 500;
}
main .container .card p{
  max-width: 80%;
}
main .container .card button{
  background: #34729E;
  padding: 20px 70px;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: none;
  margin-top: 50px;
}
main .container .card button a{
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
}
main .container .vr{
  width: 4px;
  height: 125%;
  background: #4390C8;
}
/* Quiz page */
main .pageStructure .quiz{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px;
}
main .quizbox{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
main .quizbox h2{
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}

main .quizbox .questionDiv{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}

main .quizbox .answerDiv{
  background-color: #4390C8;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  width: 100%;
}

main .quizbox .answerDiv .paraDiv{
  justify-content: center;
}

main .quizbox .answerDiv .paraDiv .pInfo{
  display: flex;
  justify-content: center;
  color: white;
}

main .quizbox .answerDiv .answerButton{
  
}
main .quizbox .answerDiv .inputLabel{
  width: 100%;
  text-align: center;
  position: relative;
}
main .quizbox .answerDiv .inputLabel input{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
main .quizbox .answerDiv .inputLabel label{
  width: 300px;
  color: white;
}

.checked {
  background-color: #De9e3f !important;
}

/****** footer *******/

footer{
  width: 100%;
  margin-top: 100px;
  background-color: #4390C8;
  color: white;

  display: flex;
  align-items: center;
  padding: 50px 100px;
}




